.feedmobile{
    margin-top: 20%;
    display: grid;
	align-items: center;
	justify-content: center;
	height: 50vh;
    padding-left: 4%;
    
}

.mobilewrapper{
    transform: scale(.55);
    transform-origin: 0 0;
    align-items: center;
    justify-content: center;
    display: grid;
    padding: 5%
}


.storyreel2 {
    margin-bottom: 15%;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    width: 100%;
}

.storyreel::-webkit-scrollbar {
    display: none;
}